{% extends "blog/base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center text-primary">About Page</h1>
            <p class="lead text-center">This is the about page for my website.</p>
            <p class="text-center">I am a web developer who loves to create beautiful and functional websites.</p>
            <p class="text-center">I am passionate about using technology to solve problems and make people's lives
                easier.</p>
            <p class="text-center">I am always learning new things and I am always looking for new challenges.</p>
            <p class="text-center">If you have any questions or feedback, please feel free to contact me.</p>
        </div>
    </div>
</div>
{% endblock content %}